html,
body {
  position: relative;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  margin: 0;
  padding: 0;
}

[data-dpr="1"] div {
  font-size: 14px;
}

[data-dpr="2"] div {
  font-size: 28px;
}

[data-dpr="3"] div {
  font-size: 42px;
}

.transitiontime {
  /* transition: all 1s; */
}

.transitiontime2 {
  /* transition: all 1.2s; */
}

.textanimation {
  /* transform: translateY(10rem); */
}

.flexR {
  display: flex;
  flex-direction: row;
}

.flexC {
  display: flex;
  flex-direction: column;
}

.alc {
  align-items: center;
}

.jsc {
  justify-content: center;
}

.jsbt {
  justify-content: space-between;
}

.fs30 {
  font-size: 0.4rem;
}

.meng {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  top: 1.173rem;
  left: 0;
  z-index: 200;
  opacity: 0.2;
  display: none;
}

.swiper-pagination-bullet {
  width: 0.1867rem;
  height: 0.1867rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

:root {
  --swiper-theme-color: none;
}

.swiper-pagination-bullet-active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.swiper-slide .textanimation3 {
  opacity: 0;
  transition: transform 1s,opacity 1.6s;
  transform: translateY(200px);
}

.swiper-slide .textanimation4 {
  opacity: 0;
  transition: transform 1s,opacity 1.6s;
  transform: translateY(50px);
}

.ani-slide .textanimation3 ,.ani-slide .textanimation4{
  transform: translateY(0);
  opacity: 1;
}

.swiper-slide .textanimation1 {
  transform: translateY(-50px);
  opacity: 0;
  transition: all 1s ;
}
.swiper-slide .textanimation2 {
  transform: translateY(-50px);
  opacity: 0;
  transition: all 1s;
}

.page1-img {
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s;
}

.ani-slide .textanimation1,.ani-slide .page1-img {
  transform: translateY(0);
  opacity: 1;
}

.ani-slide2 .textanimation2 {
  transform: translateY(0);
  opacity: 1;
}

.ani-slide2 .page1-img {
  transform: translateY(0);
  opacity: 1;
}

