.header {
  width: 10rem;
  height: 1.173rem;
  background: rgba(34, 33, 33, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.227rem 0.4rem 0.347rem; */
  padding: 0 0.4rem;
}

.header a {
  width: 5.053rem;
  height: 0.6rem;
  display: inline-block;
  background: url('../image/logo@2x.png') no-repeat center center;
  background-size: 100% 100%;
}

.navbox {
  width: 0.587rem;
  height: 0.427rem;
  background: url('../image/menu@2x.png') no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
}

.swiper-container {
  width: 100%;
  /* height: 100%; */
  height: calc(100% - 1.173rem);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox; */
  /* display: -webkit-flex;
  display: flex; */
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; */
}

.home-box {
  background: url('../image/bg@2x.png') no-repeat center center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hometextbox {
  padding-top: 3.347rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.147rem;
  line-height: 1.6rem;
  font-family: Microsoft YaHei;
  color: rgba(255, 255, 255, 1);
  opacity: 0.86;
}

.homeline {
  width: 0.8rem;
  height: 0.067rem;
  background: rgba(255, 255, 255, 1);
  opacity: 0.6;
  margin-top: 0.88rem;
}

.hometexts {
  font-size: 0.347rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 0.773;
  opacity: 0.6;
  margin-top: 0.253rem;
}
.homemouse {
  width: 0.4rem;
  height: 0.587rem;
  /* background:rgba(255,255,255,1); */
  border-radius: 0.107rem;
  border: 1px solid rgba(255,255,255,1);
  margin-top: 6.973rem;
  display: flex;
  justify-content: center;
  padding-top: 0.187rem;

}
.homemouse p {
  width: 0.027rem;
  height: 0.107rem;
  background:rgba(255,255,255,1);
}
.navbar {
  position: absolute;
  top: 1.173rem;
  right: -100%;
  width: 5.2rem;
  height: 16.613rem;
  background:rgba(34,33,33,1);
  opacity:0.97;
  z-index: 100;
  transition: all 0.5s;
  color:rgba(151,151,151,1);
  line-height: 0.24rem;
}
.texttop1 {
  height: 1.84rem;
  line-height: 1.84rem;
  padding-left: 0.4rem;
}
.texttop2 {
  height: 13.0133rem;
  padding-top: 0.5067rem;
  border-top: 1px solid #a4a4a4;
  border-bottom: 1px solid #a4a4a4;
  padding-left: 0.4rem;
}
.textBottom {
  height: 1.76rem;
  line-height: 1.76rem;
  padding-left: 0.4rem;
}